* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login_wrapper {
  background-image: url("https://cdn.pixabay.com/photo/2016/07/13/11/14/ivf-1514174_1280.png");
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.login_wrapper img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;

}

.login_form {
  position: absolute;
  max-width: 300px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgba(38, 107, 104, 0.4);
  color: whitesmoke;

}

.login_form h1 {
  padding: 15px 0;

}
.login_form input, button {
  width: 90%;
  height: 50%;
  border: none;
  border-bottom: 1px solid rgb(35, 68, 88);
  background-color: transparent;
  padding: .2em;
}

.forgot_password {
  color: inherit;
  font-size: .7em;
  color: rgb(63, 230, 230);
 
}

.wrapper {
  display: grid;
  grid-gap: 3px;
  grid-template-areas: 
    "h h h h h h h"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "f f f f f f f";
}

.menu {
  grid-area: h;
  display: flex;
  justify-content: right;
}

.content_wrapper {
  grid-area: c;
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  align-items: center;

}



.text_box {
  border-top: solid 1px #8e8e8e; 
  border-right: solid 1px #d1d1d1; 
  border-left: solid 1px #d1d1d1; 
  border-bottom: solid 1px #e4e4e4; 
  width: 60%;
  margin-left: 70px;
  text-align: left;
  height: 200px;
  
}

.pie_wrapper {
  width: 1000px;
  display: grid;
  padding-left: 20px;
  grid-template-columns: 300px 240px 240px 240px;
  grid-auto-rows: 110px;
  padding-top: 20px;
  margin: 0px 0px 25px 25px;
  grid-gap: 4px;
}



.transfer_wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px 75px 230px 230px;
  grid-template-rows: repeat(5, 200px); 
  padding-top: 20px;
  padding-left: 50px;
}

.doc {
  display: flex;
  justify-content: space-evenly;
  grid-column-start: 2;
  grid-row-start: 2;
  width: 700px;
}

.trans {
  display: flex;
  justify-content: space-evenly;
  grid-column-start: 2;
  grid-row-start: 3;
  width: 700px;
}

.thaw {
  display: flex;
  justify-content: space-evenly;
  grid-column-start: 2;
  grid-row-start: 4;
  width: 700px;
}

.vit {
  display: flex;
  justify-content: space-evenly;
  grid-column-start: 2;
  grid-row-start: 5;
  width: 700px;
}


.doughnut {
  position: relative;
  width: 225px;
  height: 200px;
}

.tech_donut {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: auto;
  width: 700px;
}

.pie_total{
  grid-column-start: 1;
  grid-row-start: 1; 
 
}

.total {
  position: relative;
  margin: 0;
  height: 300px;
  width: 300px;
}

.total_label {
  font-weight: 420;
  font-size: 1.5em;
  text-decoration: underline;
}

.tech_label {
  font-weight: 420;
  font-size: 1.2em;
  text-decoration: underline;
  width: 135px;
  padding: 0px;
  margin: 0px;
}


.print_heading {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1.5px solid rgb(187, 174, 174);
  box-shadow: 0px 1px 3px lightgray;
}

.logo {
  height: 55px;
}

.logo img{
 height: 55px;
 padding: 5px;
}