* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login_wrapper {
  background-image: url("https://cdn.pixabay.com/photo/2016/07/13/11/14/ivf-1514174_1280.png");
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.login_wrapper img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;

}

.login_form {
  position: absolute;
  max-width: 300px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgba(38, 107, 104, 0.4);
  color: whitesmoke;

}

.login_form h1 {
  padding: 15px 0;

}
.login_form input, button {
  width: 90%;
  height: 50%;
  border: none;
  border-bottom: 1px solid rgb(35, 68, 88);
  background-color: transparent;
  padding: .2em;
}

.forgot_password {
  color: inherit;
  font-size: .7em;
  color: rgb(63, 230, 230);
 
}

.wrapper {
  display: grid;
  grid-gap: 3px;
  grid-template-areas: 
    "h h h h h h h"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "f f f f f f f";
}

.menu {
  grid-area: h;
  display: flex;
  justify-content: right;
}

.content_wrapper {
  grid-area: c;
  border: 1px solid rgb(0, 0, 0);
  display: grid;
  /* grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 200px 200px 200px 200px; */
  align-items: center;

   
    
    
}



.fert_text {
  border-top: solid 1px #8e8e8e; 
  border-right: solid 1px #d1d1d1; 
  border-left: solid 1px #d1d1d1; 
  border-bottom: solid 1px #e4e4e4; 
  grid-area: ft;
  width: 80%;
  margin-left: 70px;
  text-align: left;
  height: 200px;
}

.pie_wrapper {
  width: 1000px;
  display: grid;
  border: 1px solid rgb(109, 0, 0);
  /* grid-template-areas: 
    "total total . . ."
    "total total tech tech tech"
    ". .  tech tech tech"
    ". . tech tech tech"; */
  padding-left: 20px;
  grid-template-columns: repeat(3, 230px);
  grid-auto-rows: 200px;
  margin: 0px 0px 25px 25px;
  grid-gap: 5px;
}

.pr_text {
  margin-top: 45px;
  border: 1px solid rgba(107, 96, 96, 0.733);
  grid-area: pt;
  width: 80%;
}

.transfer_wrapper {
  border: 1px solid rgb(216, 8, 129);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 400px 75px 230px 230px;
  grid-template-rows: repeat(5, 220px); 
}

.doc {
  display: flex;
  justify-content: space-evenly;
  grid-column-start: 2;
  grid-row-start: 2;
  width: 700px;
}

.trans {
  display: flex;
  justify-content: space-evenly;
  grid-column-start: 2;
  grid-row-start: 3;
  width: 700px;
}

.thaw {
  display: flex;
  justify-content: space-evenly;
  grid-column-start: 2;
  grid-row-start: 4;
  width: 700px;
}

.vit {
  display: flex;
  justify-content: space-evenly;
  grid-column-start: 2;
  grid-row-start: 5;
  width: 700px;
}


.cr_text {
  margin-top: 45px;
  border: 1px solid rgba(107, 96, 96, 0.733);
  grid-area: pt;
  width: 80%;
}




.pa_text {
  margin-top: 45px;
  border: 1px solid rgba(107, 96, 96, 0.733);
  grid-area: at;
  width: 80%;
}



.ur_text {
  margin-top: 45px;
  border: 1px solid rgba(107, 96, 96, 0.733);
  grid-area: pt;
  width: 80%;
}


/* .doughnut_grid {
  display: grid;
  grid-area: d;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
} */

.doughnut {
  border: 1px solid rgb(23, 163, 30);
  position: relative;
  width: 200px;
  height: 200px;
  
  
}

.pie_total{
  /* position: relative;
  grid-column: span 2;
  grid-row: span 2; */
  grid-column-start: 1;
  grid-row-start: 1;
  /* grid-area: t; */
  
 
}

.total {
  position: relative;
  margin: 0;
  height: 300px;
  width: 300px;
}

.test {
  display: grid;
  grid-template-columns: repeat(2, 200px)
}

.print_heading {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.logo {
  
  height: 40px;
}

.logo img{
 height: 40px;
}